body {
   background-color: #A9A9A9;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#capa1 {
   background-attachment: fixed;
   background-color: transparent;
   background-image: url(images/grand%2dtheft%2dauto%2dv%2dgta%2d5%2dwallpaper%2dhd%2d2880x1800%2d194993.jpg);
   background-position: 50% 0;
   background-position: left top;
   background-repeat: repeat;
   background-size: cover;
   margin: 0;
}
#capa1-overlay {
   background-color: #000000;
   bottom: 0;
   left: 0;
   opacity: 0.8;
   position: absolute;
   right: 0;
   top: 0;
}
#capa2 {
   background-color: #20B2AA;
   background-image: none;
   margin: 0;
}
#capa3 {
   background-color: #6A5ACD;
   background-image: none;
   margin: 0;
}
#capa4 {
   background-color: #F0E68C;
   background-image: none;
   margin: 0;
}
#capa5 {
   background-color: #90EE90;
   background-image: none;
   margin: 0;
}
#sticker_ADELANTE_ {
   background-color: rgba(0,0,0,0.42);
   background-image: none;
}
#wb_ResponsiveMenu1 {
   background-color: rgba(0,0,0,0.85);
   display: block;
   font-family: Acme;
   font-weight: normal;
   text-align: center;
   width: 100%;
}
#ResponsiveMenu1 {
   background-color: #000000;
   background-color: rgba(0,0,0,0.85);
   display: inline-block;
   height: 65px;
}
#wb_ResponsiveMenu1 ul {
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after {
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li {
   background-color: #000000;
   background-color: rgba(0,0,0,0.85);
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i {
   font-size: 20px;
   width: 20px;
}
#wb_ResponsiveMenu1 ul li a {
   color: #FFFFFF;
   font-family: Acme;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   padding: 15px 30px 15px 30px;
   text-align: center;
   text-decoration: none;
}
#wb_ResponsiveMenu1 > ul > li > a {
   height: 35px;
}
.ResponsiveMenu1 a {
   display: block;
}
#wb_ResponsiveMenu1 li a:hover,
#wb_ResponsiveMenu1 li .active {
   background-color: #FFA500;
   color: #000000;
}
#wb_ResponsiveMenu1 ul ul {
   display: none;
   position: absolute;
   top: 65px;
}
#wb_ResponsiveMenu1 ul li:hover > ul {
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li {
   background-color: #000000;
   background-color: rgba(0,0,0,0.41);
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 129px;
}
#wb_ResponsiveMenu1 ul ul li a:hover,
#wb_ResponsiveMenu1 ul ul li .active {
   background-color: #FFA500;
   color: #000000;
}
#wb_ResponsiveMenu1 ul ul li i {
   margin-right: 6px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a {
   color: #FFFFFF;
   padding-bottom: 15px;
   padding-right: 20px;
   padding-top: 15px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li {
   left: 129px;
   position: relative;
   top: -65px;
}
#wb_ResponsiveMenu1 .arrow-down {
   border-bottom: 0 dotted;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   border-top: 4px solid #FFFFFF;
   display: inline-block;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   width: 0;
}
#wb_ResponsiveMenu1 .arrow-left {
   border-bottom: 4px solid transparent;
   border-left: 4px solid #FFFFFF;
   border-right: 0 dotted;
   border-top: 4px solid transparent;
   display: inline-block;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   width: 0;
}
#wb_ResponsiveMenu1 li a:hover .arrow-down {
   border-top-color: #000000;
}
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left,
#wb_ResponsiveMenu1 ul ul li .active .arrow-left {
   border-left-color: #000000;
}
#wb_ResponsiveMenu1 .toggle,
[id^=ResponsiveMenu1-submenu] {
   display: none;
}
@media all and (max-width:768px) {
#wb_ResponsiveMenu1 {
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a,
#wb_ResponsiveMenu1 .toggle {
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   padding: 15px 20px 15px 20px;
}
#wb_ResponsiveMenu1 .toggle + a {
   display: none  !important;
}
.ResponsiveMenu1 {
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 {
   background-color: transparent;
   display: none;
}
#wb_ResponsiveMenu1 > ul > li > a {
   height: auto;
}
#wb_ResponsiveMenu1 .toggle {
   background-color: #000000;
   background-color: rgba(0,0,0,0.85);
   border: none;
   color: #FFFFFF;
   display: block;
   line-height: 50px;
   padding: 0px 20px 0px 20px;
   position: relative;
   text-decoration: none;
}
#wb_ResponsiveMenu1 .toggle:hover {
   background-color: #FFA500;
   color: #000000;
}
[id^=ResponsiveMenu1-submenu]:checked + ul {
   display: block  !important;
}
#ResponsiveMenu1-title {
   height: 65px;
   line-height: 65px  !important;
   text-align: center;
}
#wb_ResponsiveMenu1 ul li {
   display: block;
   text-align: left;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a {
   padding: 0 40px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a {
   background-color: #000000;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a {
   background-color: #000000;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul ul a {
   padding: 15px 20px 15px 60px;
}
#wb_ResponsiveMenu1 ul li a {
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br {
   display: none;
}
#wb_ResponsiveMenu1 ul li i {
   margin-right: 6px;
}
#wb_ResponsiveMenu1 ul ul {
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul {
   display: none;
}
#wb_ResponsiveMenu1 ul ul li {
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li {
   position: static;
}
#ResponsiveMenu1-icon {
   display: block;
   left: 30px;
   position: absolute;
   top: 20px;
}
#ResponsiveMenu1-icon span {
   background-color: #FFFFFF;
   color: #FFFFFF;
   display: block;
   height: 2px;
   margin-top: 4px;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover {
   background-color: #FFA500;
   color: #000000;
}
#wb_ResponsiveMenu1 .toggle .arrow-down {
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down,
#wb_ResponsiveMenu1 li .active .arrow-down {
   border-top-color: #000000;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down {
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down,
#wb_ResponsiveMenu1 ul li ul li .active .arrow-down {
   border-top-color: #000000;
}
}
#PageFooter1 {
   background-color: #4F4F4F;
   background-image: none;
   box-sizing: border-box;
}
@media only screen and (min-width: 1280px) and (max-width: 1649px) {
body {
   background-color: #A9A9A9;
   background-image: none;
}
#capa1 {
   background-attachment: fixed;
   background-color: transparent;
   background-image: url(images/grand%2dtheft%2dauto%2dv%2dgta%2d5%2dwallpaper%2dhd%2d2880x1800%2d194993.jpg);
   background-position: 50% 0;
   background-position: left top;
   background-repeat: repeat;
   background-size: cover;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 778px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa1 {
   margin: 0;
   width: 100%;
}
#capa1_Container {
   width: 1280px  !important;
}
#capa2 {
   background-color: #20B2AA;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 773px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa2 {
   margin: 0;
   width: 100%;
}
#capa2_Container {
   width: 1280px  !important;
}
#capa3 {
   background-color: #6A5ACD;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 776px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa3 {
   margin: 0;
   width: 100%;
}
#capa3_Container {
   width: 1280px  !important;
}
#capa4 {
   background-color: #F0E68C;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 775px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa4 {
   margin: 0;
   width: 100%;
}
#capa4_Container {
   width: 1280px  !important;
}
#capa5 {
   background-color: #90EE90;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 775px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa5 {
   margin: 0;
   width: 100%;
}
#capa5_Container {
   width: 1280px  !important;
}
#sticker_ADELANTE_ {
   background-color: rgba(0,0,0,0.42);
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 61px  !important;
   text-decoration: none;
   visibility: visible  !important;
}
#sticker_ADELANTE_ {
   width: 100%;
}
#wb_MARCADOR1 {
   display: none  !important;
   height: 46px  !important;
   left: 0px  !important;
   top: 0px  !important;
   visibility: hidden  !important;
   width: 51px  !important;
}
#wb_ResponsiveMenu1 {
   display: block  !important;
   margin: 0;
   text-align: center;
   visibility: visible  !important;
   width: 100%  !important;
}
#PageFooter1 {
   background-color: #4F4F4F;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   height: 131px  !important;
   text-decoration: none;
   top: 5040px  !important;
   visibility: visible  !important;
}
#PageFooter1 {
   width: 100%;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
body {
   background-color: #A9A9A9;
   background-image: none;
}
#capa1 {
   background-attachment: fixed;
   background-color: transparent;
   background-image: url(images/grand%2dtheft%2dauto%2dv%2dgta%2d5%2dwallpaper%2dhd%2d2880x1800%2d194993.jpg);
   background-position: 50% 0;
   background-position: left top;
   background-repeat: repeat;
   background-size: cover;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 622px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa1 {
   margin: 0;
   width: 100%;
}
#capa1_Container {
   width: 1024px  !important;
}
#capa2 {
   background-color: #20B2AA;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 618px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa2 {
   margin: 0;
   width: 100%;
}
#capa2_Container {
   width: 1024px  !important;
}
#capa3 {
   background-color: #6A5ACD;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 620px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa3 {
   margin: 0;
   width: 100%;
}
#capa3_Container {
   width: 1024px  !important;
}
#capa4 {
   background-color: #F0E68C;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 620px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa4 {
   margin: 0;
   width: 100%;
}
#capa4_Container {
   width: 1024px  !important;
}
#capa5 {
   background-color: #90EE90;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 620px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa5 {
   margin: 0;
   width: 100%;
}
#capa5_Container {
   width: 1024px  !important;
}
#sticker_ADELANTE_ {
   background-color: rgba(0,0,0,0.42);
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 59px  !important;
   text-decoration: none;
   visibility: visible  !important;
}
#sticker_ADELANTE_ {
   width: 100%;
}
#wb_MARCADOR1 {
   display: none  !important;
   height: 36px  !important;
   left: 0px  !important;
   top: 0px  !important;
   visibility: hidden  !important;
   width: 40px  !important;
}
#wb_ResponsiveMenu1 {
   display: block  !important;
   margin: 0;
   text-align: center;
   visibility: visible  !important;
   width: 100%  !important;
}
#PageFooter1 {
   background-color: #4F4F4F;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   height: 104px  !important;
   text-decoration: none;
   top: 5067px  !important;
   visibility: visible  !important;
}
#PageFooter1 {
   width: 100%;
}
}
@media only screen and (min-width: 980px) and (max-width: 1023px) {
body {
   background-color: #A9A9A9;
   background-image: none;
}
#capa1 {
   background-attachment: fixed;
   background-color: transparent;
   background-image: url(images/grand%2dtheft%2dauto%2dv%2dgta%2d5%2dwallpaper%2dhd%2d2880x1800%2d194993.jpg);
   background-position: 50% 0;
   background-position: left top;
   background-repeat: repeat;
   background-size: cover;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 595px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa1 {
   margin: 0;
   width: 100%;
}
#capa1_Container {
   width: 980px  !important;
}
#capa2 {
   background-color: #20B2AA;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 591px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa2 {
   margin: 0;
   width: 100%;
}
#capa2_Container {
   width: 980px  !important;
}
#capa3 {
   background-color: #6A5ACD;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 593px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa3 {
   margin: 0;
   width: 100%;
}
#capa3_Container {
   width: 980px  !important;
}
#capa4 {
   background-color: #F0E68C;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 593px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa4 {
   margin: 0;
   width: 100%;
}
#capa4_Container {
   width: 980px  !important;
}
#capa5 {
   background-color: #90EE90;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 593px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa5 {
   margin: 0;
   width: 100%;
}
#capa5_Container {
   width: 980px  !important;
}
#sticker_ADELANTE_ {
   background-color: rgba(0,0,0,0.42);
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 59px  !important;
   text-decoration: none;
   visibility: visible  !important;
}
#sticker_ADELANTE_ {
   width: 100%;
}
#wb_MARCADOR1 {
   display: none  !important;
   height: 34px  !important;
   left: 0px  !important;
   top: 0px  !important;
   visibility: hidden  !important;
   width: 38px  !important;
}
#wb_ResponsiveMenu1 {
   display: block  !important;
   margin: 0;
   text-align: center;
   visibility: visible  !important;
   width: 100%  !important;
}
#PageFooter1 {
   background-color: #4F4F4F;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   height: 99px  !important;
   text-decoration: none;
   top: 5072px  !important;
   visibility: visible  !important;
}
#PageFooter1 {
   width: 100%;
}
}
@media only screen and (min-width: 800px) and (max-width: 979px) {
body {
   background-color: #A9A9A9;
   background-image: none;
}
#capa1 {
   background-attachment: fixed;
   background-color: transparent;
   background-image: url(images/grand%2dtheft%2dauto%2dv%2dgta%2d5%2dwallpaper%2dhd%2d2880x1800%2d194993.jpg);
   background-position: 50% 0;
   background-position: left top;
   background-repeat: repeat;
   background-size: cover;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 701px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa1 {
   margin: 0;
   width: 100%;
}
#capa1_Container {
   width: 800px  !important;
}
#capa2 {
   background-color: #20B2AA;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 699px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa2 {
   margin: 0;
   width: 100%;
}
#capa2_Container {
   width: 800px  !important;
}
#capa3 {
   background-color: #6A5ACD;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 700px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa3 {
   margin: 0;
   width: 100%;
}
#capa3_Container {
   width: 800px  !important;
}
#capa4 {
   background-color: #F0E68C;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 700px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa4 {
   margin: 0;
   width: 100%;
}
#capa4_Container {
   width: 800px  !important;
}
#capa5 {
   background-color: #90EE90;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 801px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa5 {
   margin: 0;
   width: 100%;
}
#capa5_Container {
   width: 800px  !important;
}
#sticker_ADELANTE_ {
   background-color: rgba(0,0,0,0.42);
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 60px  !important;
   text-decoration: none;
   visibility: visible  !important;
}
#sticker_ADELANTE_ {
   width: 100%;
}
#wb_MARCADOR1 {
   display: none  !important;
   height: 27px  !important;
   left: 0px  !important;
   top: 0px  !important;
   visibility: hidden  !important;
   width: 31px  !important;
}
#wb_ResponsiveMenu1 {
   display: block  !important;
   margin: 0;
   text-align: center;
   visibility: visible  !important;
   width: 100%  !important;
}
#PageFooter1 {
   background-color: #4F4F4F;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   height: 159px  !important;
   text-decoration: none;
   top: 3601px  !important;
   visibility: visible  !important;
}
#PageFooter1 {
   width: 100%;
}
}
@media only screen and (min-width: 768px) and (max-width: 799px) {
body {
   background-color: #A9A9A9;
   background-image: none;
}
#capa1 {
   background-attachment: fixed;
   background-color: transparent;
   background-image: url(images/grand%2dtheft%2dauto%2dv%2dgta%2d5%2dwallpaper%2dhd%2d2880x1800%2d194993.jpg);
   background-position: 50% 0;
   background-position: left top;
   background-repeat: repeat;
   background-size: cover;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 1200px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa1 {
   margin: 0;
   width: 100%;
}
#capa1_Container {
   width: 768px  !important;
}
#capa2 {
   background-color: #20B2AA;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 1201px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa2 {
   margin: 0;
   width: 100%;
}
#capa2_Container {
   width: 768px  !important;
}
#capa3 {
   background-color: #6A5ACD;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 1198px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa3 {
   margin: 0;
   width: 100%;
}
#capa3_Container {
   width: 768px  !important;
}
#capa4 {
   background-color: #F0E68C;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 1200px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa4 {
   margin: 0;
   width: 100%;
}
#capa4_Container {
   width: 768px  !important;
}
#capa5 {
   background-color: #90EE90;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 1202px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa5 {
   margin: 0;
   width: 100%;
}
#capa5_Container {
   width: 768px  !important;
}
#sticker_ADELANTE_ {
   background-color: rgba(0,0,0,0.42);
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 57px  !important;
   text-decoration: none;
   visibility: visible  !important;
}
#sticker_ADELANTE_ {
   width: 100%;
}
#wb_MARCADOR1 {
   display: none  !important;
   height: 25px  !important;
   left: 0px  !important;
   top: 0px  !important;
   visibility: hidden  !important;
   width: 29px  !important;
}
#wb_ResponsiveMenu1 {
   display: block  !important;
   margin: 0;
   text-align: center;
   visibility: visible  !important;
   width: 100%  !important;
}
#PageFooter1 {
   background-color: #4F4F4F;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   height: 149px  !important;
   text-decoration: none;
   top: 6001px  !important;
   visibility: visible  !important;
}
#PageFooter1 {
   width: 100%;
}
}
@media only screen and (max-width: 767px) {
body {
   background-color: #A9A9A9;
   background-image: none;
}
#capa1 {
   background-attachment: fixed;
   background-color: transparent;
   background-image: url(images/grand%2dtheft%2dauto%2dv%2dgta%2d5%2dwallpaper%2dhd%2d2880x1800%2d194993.jpg);
   background-position: 50% 0;
   background-position: left top;
   background-repeat: repeat;
   background-size: cover;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 500px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa1 {
   margin: 0;
   width: 100%;
}
#capa1_Container {
   width: 320px  !important;
}
#capa2 {
   background-color: #20B2AA;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 601px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa2 {
   margin: 0;
   width: 100%;
}
#capa2_Container {
   width: 320px  !important;
}
#capa3 {
   background-color: #6A5ACD;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 600px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa3 {
   margin: 0;
   width: 100%;
}
#capa3_Container {
   width: 320px  !important;
}
#capa4 {
   background-color: #F0E68C;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 600px  !important;
   margin: 0;
   opacity: 3.00;
   text-decoration: none;
   visibility: visible  !important;
}
#capa4 {
   margin: 0;
   width: 100%;
}
#capa4_Container {
   width: 320px  !important;
}
#capa5 {
   background-color: #90EE90;
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 601px  !important;
   margin: 0;
   text-decoration: none;
   visibility: visible  !important;
}
#capa5 {
   margin: 0;
   width: 100%;
}
#capa5_Container {
   width: 320px  !important;
}
#sticker_ADELANTE_ {
   background-color: rgba(0,0,0,0.42);
   background-image: none;
   display: inline  !important;
   font-family: Arial;
   font-size: 8px;
   font-style: normal;
   font-weight: normal;
   height: 63px  !important;
   text-decoration: none;
   visibility: visible  !important;
}
#sticker_ADELANTE_ {
   width: 100%;
}
#wb_MARCADOR1 {
   display: none  !important;
   height: 10px  !important;
   left: 0px  !important;
   top: 0px  !important;
   visibility: hidden  !important;
   width: 12px  !important;
}
#wb_ResponsiveMenu1 {
   display: block  !important;
   margin: 0;
   text-align: center;
   visibility: visible  !important;
   width: 100%  !important;
}
#PageFooter1 {
   background-color: #4F4F4F;
   background-image: none;
   font-family: Arial;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   height: 104px  !important;
   text-decoration: none;
   top: 2902px  !important;
   visibility: visible  !important;
}
#PageFooter1 {
   width: 100%;
}
}
