body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#preloader
{
   background: #FFFFFF url("images/windmill.gif") no-repeat center center;
   bottom: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
#wb_layoutdatos
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#layoutdatos
{
   box-sizing: border-box;
   padding: 50px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#layoutdatos > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutdatos > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#layoutdatos > .row > .col-1
{
   float: left;
}
#layoutdatos > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#layoutdatos:before,
#layoutdatos:after,
#layoutdatos .row:before,
#layoutdatos .row:after
{
   display: table;
   content: " ";
}
#layoutdatos:after,
#layoutdatos .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#layoutdatos > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 18px 0px 0px 0px;
   text-align: center;
}
#Heading8
{
   color: #A5A5A5;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
   text-align: center;
}
#wb_Heading9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0px 0px 18px 0px;
   text-align: center;
}
#Heading9
{
   color: #333333;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Shape4
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape4
{
   width: 627px;
   height: 6px;
   background-color: #DC143C;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#Shape4_text
{
   position: absolute;
   left: 1px;
   top: 1px;
   width: 625px;
   height: 4px;
   overflow: hidden;
   text-align: center;
   word-wrap: break-word;
}
#wb_layoutdatos1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#layoutdatos1
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#layoutdatos1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutdatos1 > .row > .col-1, #layoutdatos1 > .row > .col-2, #layoutdatos1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#layoutdatos1 > .row > .col-1, #layoutdatos1 > .row > .col-2, #layoutdatos1 > .row > .col-3
{
   float: left;
}
#layoutdatos1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#layoutdatos1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#layoutdatos1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#layoutdatos1:before,
#layoutdatos1:after,
#layoutdatos1 .row:before,
#layoutdatos1 .row:after
{
   display: table;
   content: " ";
}
#layoutdatos1:after,
#layoutdatos1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#layoutdatos1 > .row > .col-1, #layoutdatos1 > .row > .col-2, #layoutdatos1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_layoutdeform
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#layoutdeform
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#layoutdeform > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutdeform > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#layoutdeform > .row > .col-1
{
   float: left;
}
#layoutdeform > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#layoutdeform:before,
#layoutdeform:after,
#layoutdeform .row:before,
#layoutdeform .row:after
{
   display: table;
   content: " ";
}
#layoutdeform:after,
#layoutdeform .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#layoutdeform > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 976px;
}
#LayoutGrid9 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2, #LayoutGrid9 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2, #LayoutGrid9 > .row > .col-3
{
   float: left;
}
#LayoutGrid9 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid9 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid9 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid9:before,
#LayoutGrid9:after,
#LayoutGrid9 .row:before,
#LayoutGrid9 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid9:after,
#LayoutGrid9 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2, #LayoutGrid9 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#editboxName
{
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color: #A2A2A2;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 4px 4px 4px 4px;
   margin: 5px 10px 10px 0px;
   text-align: left;
}
#editboxEmail
{
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color: #A2A2A2;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 4px 4px 4px 4px;
   margin: 5px 10px 10px 10px;
   text-align: left;
}
#editboxPhone
{
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color: #A2A2A2;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   line-height: 24px;
   padding: 4px 4px 4px 4px;
   margin: 5px 0px 10px 10px;
   text-align: left;
}
#editboxMessage
{
   border: 1px solid #CCCCCC;
   border-radius: 5px;
   background-color: #FFFFFF;
   background-image: none;
   color: #A2A2A2;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   margin: 0px 0px 10px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#Button1
{
   border: 1px solid #8B0000;
   border-radius: 25px;
   background-color: #DC143C;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 15px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0px 10px 0px;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text11
{
   color: #B22222;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_Text11
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 5px 5px 5px 5px;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 5px 5px 5px 5px;
   box-sizing: border-box;
   width: calc(100% - 10px);
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 5px 5px 5px 5px;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 5px 5px 5px 5px;
   box-sizing: border-box;
   width: calc(100% - 10px);
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 5px 5px 5px 5px;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 5px 5px 5px 5px;
   box-sizing: border-box;
   width: calc(100% - 10px);
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Shape4
{
   display: inline-block;
   width: 627px;
   height: 6px;
   z-index: 2;
   position: relative;
}
#wb_Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 0;
}
#editboxEmail
{
   display: block;
   width: calc(100% - 20px);
   height: 34px;
   z-index: 8;
}
#wb_Heading8
{
   display: inline-block;
   width: 100%;
   z-index: 3;
}
#editboxPhone
{
   display: block;
   width: calc(100% - 10px);
   height: 34px;
   z-index: 9;
}
#wb_Heading9
{
   display: inline-block;
   width: 100%;
   z-index: 1;
}
#Button1
{
   display: inline-block;
   width: 92px;
   height: 39px;
   z-index: 13;
}
#editboxName
{
   display: block;
   width: calc(100% - 10px);
   height: 34px;
   z-index: 7;
}
#editboxMessage
{
   display: block;
   width: 100%;
   height: 100px;
   z-index: 11;
}
@media only screen and (max-width: 759px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_layoutdatos
{
   visibility: visible;
   display: table;
}
#wb_layoutdatos
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#layoutdatos
{
   padding: 50px 15px 25px 15px;
}
#layoutdatos .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutdatos > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#layoutdatos > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Heading8
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 18px 0px 0px 0px;
}
#wb_Heading9
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0px 0px 18px 0px;
   font-size: 21px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#wb_Heading9
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   text-align: center;
}
#Heading9
{
   color: #333333;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#wb_Shape4
{
   width: 290px;
   height: 6px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Shape4
{
   width: 290px;
   height: 6px;
}
#Shape4_text
{
   left: 1px;
   top: 1px;
   width: 288px;
   height: 4px;
}
#wb_layoutdatos1
{
   visibility: visible;
   display: table;
}
#wb_layoutdatos1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#layoutdatos1
{
   padding: 10px 15px 10px 15px;
}
#layoutdatos1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutdatos1 > .row > .col-1, #layoutdatos1 > .row > .col-2, #layoutdatos1 > .row > .col-3
{
   padding-right: 15px;
   padding-left: 15px;
}
#layoutdatos1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#layoutdatos1 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#layoutdatos1 > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_layoutdeform
{
   visibility: visible;
   display: table;
}
#wb_layoutdeform
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#layoutdeform
{
   padding: 25px 15px 25px 15px;
}
#layoutdeform .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutdeform > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#layoutdeform > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_LayoutGrid9
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid9
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid9
{
   padding: 10px 0px 10px 0px;
}
#LayoutGrid9 .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#LayoutGrid9 > .row > .col-1, #LayoutGrid9 > .row > .col-2, #LayoutGrid9 > .row > .col-3
{
   padding-right: 0px;
   padding-left: 0px;
}
#LayoutGrid9 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid9 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid9 > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#editboxName
{
   width: calc(100% - 10px);
   height: 34px;
   visibility: visible;
   display: block;
   margin: 5px 5px 10px 5px;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#editboxName
{
   line-height: 9px;
}
#editboxEmail
{
   width: calc(100% - 10px);
   height: 34px;
   visibility: visible;
   display: block;
   margin: 5px 5px 10px 5px;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#editboxEmail
{
   line-height: 9px;
}
#editboxPhone
{
   width: calc(100% - 10px);
   height: 34px;
   visibility: visible;
   display: block;
   margin: 5px 5px 10px 5px;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#editboxPhone
{
   line-height: 9px;
}
#editboxMessage
{
   width: calc(100% - 10px);
   height: 100px;
   visibility: visible;
   display: block;
   margin: 1px 5px 10px 5px;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Button1
{
   width: 92px;
   height: 39px;
   visibility: visible;
   display: inline-block;
   margin: 10px 5px 10px 5px;
   padding: 0;
}
#wb_Text11
{
   visibility: visible;
   display: block;
}
#wb_Text11
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
   line-height: 16px;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 5px 5px 5px 5px;
   padding: 0;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 5px 5px 5px 5px;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 5px 5px 5px 5px;
   padding: 0;
}
#wb_Image1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
}
